<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <style>
        body {
            background-image: url('weather-clipart-icons-1280x720.jpg');
        }
    </style>
</head>

<body
    style=" background-image: url('/static/img/bg.jpg');background-repeat: no-repeat;padding: 140px;background-size: cover;">
    <section>
        <div class="hero-body">
            <div class="container" style='padding-bottom: 95px;'>
                <h1 style='text-align:center;font-family: Arial, Helvetica, sans-serif;' class="title">
                    JOHN's WEATHER STATION!
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4" style="margin-left: 15%;">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather1.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title"> <b> City : {{ weather1.city}} </b> </span>
                                        <br>
                                        <!-- <span class="title">{{ weather1.city }}</span> -->
                                        <br>
                                        <span class="subtitle">{{ weather1.temperature }}° C</span>
                                        <br>
                                        <span class="subtitle">{{ weather1.description }}</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="column is-offset-4 is-4" style="    margin-left: 10%;
                margin-right: 10%;">
                    <div class="box" id='bodyBg'>
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather2.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title"> <b>City : {{ weather2.city }} </b>
                                        </span>
                                        <br>
                                        <!-- <span class="title">{{ weather2.city }}</span> -->
                                        <br>
                                        <span class="subtitle">{{ weather2.temperature }}° C</span>
                                        <br>
                                        <span class="subtitle">{{ weather2.description }}</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>